*.pyc
*.log
admin/static/modify/*
*.swp
*.swj
*.swk
*.swi
*.swm
*.swn
*.swo
*.swb
*.swc
*.swd
*.swe
*.swk
*.swl
tmp/*
log/*
env/
local_config.py
data/upload/*
data/download/*.xls
data/download/*.docx
static/test_img/*
static/test-attachment/*
exam/static/answer_attachment/*
static/ueditor/php/upload/*
*.DS_Store
.idea/
app.py
static/*.xls
admin/static/logo/*
static/*.xlsx
static/database/*
static/image/*
static/logo/*
