{% extends "base.html" %}

{% block style %}
{{ super() }}
<style>

    /* Styles for recorder buttons */
    .recorder button, .recorder .upload, .level {
        border: 1px solid #686868;
        height: 30px;
        background-color: white;
        display: inline-block;
        vertical-align: bottom;
        margin: 2px;
        box-sizing: border-box;
        border-radius: 4px;
    }

    /* Styles for level indicator - required! */
    .level {
        width: 30px;
        height: 30px;
        position: relative;
    }
    .progress {
        position: absolute;
        height: 0;
        margin: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #b10000;
    }
    .upload {
        padding-top: 2px;
    }

</style>

{% endblock %}

{% block body %}
    {{ super() }}
    <div class="" style="width:100%;height:100%;">
        <iframe width='100%' height='100%' src="https://view.officeapps.live.com/op/view.aspx?src=http://cdn.oss.kaoshixing.com/database/1/2017412/112813673355.docx"></iframe>
    </div>

    <!-- <div class="container">
        <h1><span class="basic">Basic demo of</span><span class="project-name">FlashPlayer</span></h1>
        <div class=""></div>
    </div> -->
{% endblock %}

{% block script %}
{{ super() }}
<!-- <script type="text/javascript" src="/static/js/swfobject.js"></script> -->
{% endblock %}
