{% extends "base.html" %}

{% block style %}
{{ super() }}
<style>
.video-control-bar{background-color: #ccc;height: 34px;width: 640px;}
.btn{display: inline-block;}
</style>
{% endblock %}

{% block body %}
    {{ super() }}
    <video src="http://oss.kaoshixing.com/database/1/20161129/200655618678.mp4#t=,60">
        您的浏览器不支持 video 标签
    </video>
    <div class="video-control-bar">
        <button class="btn btn-default" id="play">播放</button>
        <button class="btn btn-default" id="pause">暂停</button>
        <button class="btn btn-default" id="volume_plus">音量＋</button>
        <button class="btn btn-default" id="volume_minus">音量－</button>
    </div>
{% endblock %}

{% block script %}
{{ super() }}
<script>
$(document).ready(function() {
    var v = document.getElementsByTagName("video")[0];
    $("#play").click(function(e) {
        e.stopPropagation();
		e.preventDefault();
        v.play();
    });
    $("#pause").click(function(e) {
        e.stopPropagation();
        e.preventDefault();
        v.pause();
    });
    $("#play").click(function(e) {
        e.stopPropagation();
		e.preventDefault();
        if(v.volume<1){
            v.volume+=0.1;
        }
    });
    $("#play").click(function(e) {
        e.stopPropagation();
		e.preventDefault();
        if(v.volume>0){
            v.volume-=0.1;
        }
    });
    // console.log(v.seekable.start(5));  // Returns the starting time (in seconds)
    // v.seekable.end(0);    // Returns the ending time (in seconds)
    // v.currentTime = 122; // Seek to 122 seconds
    // console.log(v.played.end(10));     // Returns the number of seconds the browser has played


});
</script>
{% endblock %}
