<!-- viewFrameWork-sidebar -->
<div class="viewFrameWork-sidebar">
    <a href="/bootstrap-base/" class="sidebar-top sidebar-logo sidebar-btn"
        title="/bootstrap-base/" target="_blank">
        <span class="glyphicon glyphicon-apple icon-logo" aria-hidden="true"></span>
    </a>
    <div class="sidebar-inner">
        <div class="sidebar-fold icon-unfold" id="sidebar-fold" data-toggle="tooltip" data-placement="right"
            data-container="body" title="收起导航">
            <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
        </div>
        <div class="sidebar-nav">
            <ul class="sidebar-trans">
                <li class="nav-item active">
                    <a href="/bootstrap-base/" class="" data-toggle="tooltip" data-placement="right"
                        data-container="body" title="人员管理">
                        <div class="nav-icon">
                            <i class="icons8-user-group-man-man icon-user"></i>
                        </div>
                        <span class="nav-title">人员管理</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/bootstrap-base/" class="" data-toggle="tooltip" data-placement="right"
                        data-container="body" title="考试管理">
                        <div class="nav-icon">
                            <i class="icons8-test-partial-passed icon-exam"></i>
                        </div>
                        <span class="nav-title">考试管理</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/bootstrap-base/" class="" data-toggle="tooltip" data-placement="right"
                        data-container="body" title="考试分析">
                        <div class="nav-icon">
                            <i class="icons8-test-partial-passed icon-analysis"></i>
                        </div>
                        <span class="nav-title">考试分析</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/bootstrap-base/" class="" data-toggle="tooltip" data-placement="right"
                        data-container="body" title="学习">
                        <div class="nav-icon">
                            <i class="icons8-literature icon-course"></i>
                        </div>
                        <span class="nav-title">学习</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/bootstrap-base/" class="" data-toggle="tooltip" data-placement="right"
                        data-container="body" title="系统管理">
                        <div class="nav-icon">
                            <i class="icons8-clothes icon-system"></i>
                        </div>
                        <span class="nav-title">系统管理</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/bootstrap-base/" class="" data-toggle="tooltip" data-placement="right"
                        data-container="body" title="支付中心">
                        <div class="nav-icon">
                            <i class="glyphicon glyphicon-usd icons8-us-dollar"></i>
                        </div>
                        <span class="nav-title">支付中心</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <a href="/bootstrap-base/" class="sidebar-bottom sidebar-btn"
        title="/bootstrap-base/" target="_blank">
        <div class="sidebar-bottom-icon">
            <i class="icons8-administrator-male icon-admin"></i>
        </div>
        <span class="sidebar-bottom-title">Admin</span>
    </a>
</div>
